# URLs e Identificadores
KEYCLOAK_URL=http://host.docker.internal:9080/realms/Inventario/protocol/openid-connect/token
API_BASE_URL=http://host.docker.internal:8080/api/v1
KEYCLOAK_CLIENT_ID=inventory-client
KEYCLOAK_CLIENT_SECRET=dummy-client-secret

# Usuarios de Pruebas
KEYCLOAK_USERNAME=admin-user
KEYCLOAK_VIEWER_USERNAME=viewer-user
KEYCLOAK_TEST_USER_PASSWORD=dummy-password

# Tokens de Plataformas CI/CD
SONAR_TOKEN=dummy-sonar-token
SNYK_TOKEN=dummy-snyk-token
